

:root {
    --pink-color:  #FF5E69;
}



@import url('./reset.css') ;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}


header {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    padding-top: 41px;
    padding-left: 112.5px;
    padding-right: 112.5px;
    

}

header .nav-links a {
    font-weight: 400;
   font-size: 24px;
   line-height: 28px;
    color: #000;
    padding: 25px;
    
    
}

.fa-bars-staggered {
    display: none;
}


@media(max-width:768px) {
    .fa-bars-staggered {
        display: flex;
        cursor: pointer;
        font-size: 24px ;
    }
    .nav-links {
        display: none;
    }
  
    header {
        padding-left: 20px;
        padding-right: 20px;
    }

}

/* INTROSECTION START */
.introsection {
    display: flex;
    padding-left: 7.03rem;
    flex-wrap: wrap;
    padding-right: 7.03rem;
    justify-content: space-between;
}

.intro-left-side {
    padding-top: 117px;
    min-width: 680px;
    flex-basis: 50%;
}
.intro-left-side h1 {
    font-size: 72px;
    font-weight:700 ;
    line-height: 82px ;
    margin-bottom: 40px;
}
.intro-left-side p {
    margin-bottom: 18px;
    letter-spacing: 2px;
    line-height: 33px;
    font-size: 22px;
}

.intro-left-side h1 span {

    color: #FF8A56;

}
.intro-left-side button {
    width: 121px;
    height: 58px;
    background-color: #000;
    color: #fff;
}

.intro-right-side {
    padding-top: 70px;
    min-width: 500px;
    flex: 1;
}

.intro-right-side img {
    width: 100%;
    height: 100%;

}



@media(max-width:1311px) and (min-width:768px){
    .intro-left-side {
        
        flex-basis: 100%;
        text-align: center;
        
    }
    .introsection{
        padding-left: 0;
        padding-right: 0;
    }

}

@media(max-width:768px) {
    .intro-left-side{
        min-width: 500px;
        text-align: center;
        padding-top: 40px;
        flex-basis: 100%;
    }

    .introsection{
        padding-left: 0;
        padding-right: 0;
    }
}


/* INTROSECTION END */

/* Trustes-By-Section START */

.trusted-by-section > h6 {

    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.trusted-by-companies {
    display: flex;
    justify-content: space-between;
}
@media(max-width:768px) {
    .trusted-by-company:nth-child(even) {
        display: none;
 }
    
    .trusted-by-company:not(:first-child) {
     display: none;
     ;
    }

}

/* Trustes-By-Section END */

/* Services-section START */



.services h6 , h1 {
    text-align: center;
}
.services h6 {
    text-transform: uppercase ;
    font-weight: 700 ;
    color: var(--pink-color);
    font-size: 22px;
    line-height: 22px;
}

.services {
    padding-top: 100px;
}

.services h1 {
    font-weight: 700;
    font-size: 54px;
    line-height: 59px;

}
.services-cards-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.services-card {
    width: 20%;
    min-width: 250px ;
    padding: 20px;

}

.services-cards-section p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #666666;
}

ul {
    list-style-type: square;
    padding-left: 0;
    list-style-position: inside;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
}



/* Services-section END*/


/* Projects-section START */

.projects-section {
    display: flex;
    flex-direction: column;
    padding-left: 113px;
    padding-top: 76px;
}

.view-all-projects h1 {
    font-weight: 700;
    font-size: 54px;
    line-height: 59px;
    letter-spacing: 1px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

.projects-section h5 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 4px;
    color:  #3C46FF;
    ;
}
.projects-section  h6 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 4px;
    color: #B16CEA;
    ;
    
}

.projects-cards {
    min-width: 400px;
}

.view-all-projects {
    display: flex;
    justify-content: space-between;
    padding-right: 112px;
    margin-top: 40px;
}

.view-all-projects button {
height: 58px;
left: 0%;
right: 0%;
top: 0px;
background: #000000;
border-radius: 0px;
color: #fff;
cursor: pointer;

}

.projects-cards {
    display: flex;

}

.projects-card:nth-child(3) > img {
    width: 100%;
}

.projects-card {
     min-width: 486px; 
    margin-right: 24px;
    width: 30%;
    }

    .projects-card-bottom {
    padding: 32px;
    background-color: #000;
}

.slider-btns {

    align-self: flex-end ;
    padding-right: 112px;
    padding-top: 26px;
    padding-right: 0px;

}

.slider-btns button {
    height: 54px;
   width: 54px;
   border: transparent;
   cursor: pointer;
   
}



@media(max-width:1700px) {
    .projects-card:nth-child(1) {
        display: none !important;
    }
}

@media(max-width:1130px) {
    .projects-card:nth-child(3) {
        display: none !important;
    }
}

@media(max-width:768px) {
    .projects-section {
        padding-left: 15px;
    }
    .view-all-projects {
        padding-right: 0px;
    }
}



/* Projects-section END */